.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  width: 100%;
  top: 15px;
}

h1 {
  margin-bottom: 20px;
}


.appcontainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin-top: 50px;
}

/* Main content area */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  background-color: #f5f5f5;
}

/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure full height rendering */
/* html, 
body, 
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
} */

/* Scrollbar customization */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Material UI overrides */
.MuiButton-root {
  text-transform: none !important;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}


